.slider .slider__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.slider_item img {
    width: 90%;
    height: 30vw;
}

/* Основные стили */
/* Слайдер */
.slick-slider {
    min-width: 0;
}

/* Ограничивающая оболочка */
.slick-list {
    overflow: hidden;
}

/* Лента слайдов */
.slick-track {
    margin-left: -20%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: space-between;
}

.slick-arrow {
    display: none !important;
}

/* Конкретный слайдер */
.slider {
    position: relative;
    margin: 50px 0;
}
@media (max-width:1024px) {
    
.slider_item img {
    width: 100%;
    height: 60vw;
}
.slick-track{
    margin-left: 0;
}
}
