@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap");
body {
  background: #fff;
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}
input::-webkit-input-placeholder {
  color: #fff;
}
input::-moz-placeholder {
  color: #fff;
}
p,
a {
  font-size: 1.3vw;
  color: #fff;
}
a:hover {
  text-decoration: none;
  color: #fff;
}
.button_href {
  color: #fff;
  border: 1px solid #000;
  display: block;
  position: relative;
  background: linear-gradient(180deg, #47d664 0%, #43ce5f 28.65%, #38b451 66.15%, #37aa4e 100%);
  box-sizing: border-box;
  /* обьём кнопка */
  overflow: hidden;
  box-shadow: inset -10px -9px 9px #38b351, inset 0px 2px 3px rgba(168, 222, 179, 0.46),
    inset 9px 1px 17px rgba(0, 0, 0, 0.25), inset 7px 0px 3px #38b351;
  border-radius: 20px;
}
.button_href:hover span {
  display: block;
  top: 0;
  transform: skew(-45deg);
  width: 25%;
  height: 100%;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.4));
  position: absolute;
  animation: button__anim linear 2s infinite;
}
@keyframes button__anim {
  0% {
    left: -150%;
  }
  100% {
    left: 250%;
  }
}

section {
  width: 100%;
  height: auto;
}
h2 {
  font-weight: 600;
  font-size: 3vw;
  line-height: 3.5vw;
  text-align: center;
}
.header {
  width: 100%;
  height: 15vh;
}
.wrapper__header {
  width: 80%;
  height: 100%;
  max-width: 1160px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__logo {
  width: 15%;
}
.header__logo img {
  width: 100%;
  height: 100%;
}
.header__phone,
.header__address {
  color: #000;
  font-size: 1vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__phone:hover,
.header__address:hover {
  color: #000;
  opacity: 0.6;
}
.header__phone img,
.header__address img {
  margin-right: 10px;
}
.button__header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 20%;
  max-width: 250px;
  font-weight: 600;
  font-size: 0.8vw;
  color: #fff !important;
}
.main {
  width: 100%;
}
.title {
  width: 100%;
  height: 85vh;
  background: linear-gradient(45deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%), url(../img/title.webp);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
.title__wrapper {
  width: 80%;
  height: 100%;
  max-width: 1160px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.title__wrapper:last-child{
  display: none;
}
.title__head {
  color: #fff;
  font-weight: 700;
  font-size: 3vw;
  line-height: 3.5vw;
}
.title__text {
  margin-top: 20px;
  width: 70%;
  font-size: 1.4vw;
  line-height: 1.65vw;
}
.title__calculate,
.this__calculate {
  margin-top: 100px;
  border: 1px solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 30%;
  max-width: 300px;
  font-weight: 600;
  font-size: 1vw;
  border: 1px solid #fff;
}

.service__title {
  text-align: center;
  margin-top: 20vh;
}

h2:before,
h2:after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  width: 100%;
  height: 4px;
  background: #000;
  border: solid #fff;
  border-width: 0 10px;
}
h2:before {
  margin-left: -100%;
}
h2:after {
  margin-right: -100%;
}
.benefits,
.stages {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.benefits__block,
.stages__block {
  width: 30%;
  display: grid;
  margin-top: 3vw;
  grid-template-columns: 0.3fr 1.7fr;
  grid-template-rows: 0.5fr 1.5fr;
  gap: 0% 2%;
  grid-template-areas:
    "benefits__img benefits__head"
    ". benefits__text";
}
.benefits__img,
.stages__img {
  grid-area: benefits__img;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.benefits__head,
.stages__head {
  grid-area: benefits__head;
  display: flex;
  align-items: center;
  font-size: 1vw;
  font-weight: 600;
}
.benefits__text,
.stages__text {
  grid-area: benefits__text;
  text-align: justify;
  font-size: 1vw;
  color: #000;
}

.this_lawn {
  margin-top: 70px;
  width: 100%;
  height: 30vw;
  background: url(../img/this_lawn.png);
  background-position: center;
  background-size: 100% 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10%;
}
.second_lawn {
  display: none ;
}
.this__head {
  font-size: 3.5vw;
  color: #fff;
  line-height: 4vw;
}
.this__text {
  font-size: 1.5vw;
}
.this__calculate {
  width: 60%;
  margin-top: 50px;
}
.this__right-column {
  color: #fff;
  font-size: 1.4vw;
  line-height: 1.55vw;
  font-weight: 400;
}
.stages {
  width: 60%;
  margin-top: 50px;
}
.stages__block {
  width: 44%;
}
.stages__title {
  width: 100%;
  margin-top: 10vh;
}
.review__title {
  margin-top: 10vh;
}
.review .position-1 {
  width: 100%;
}
.review .client-single .client-img img {
  box-shadow: none;
  filter: none;
}
.review h3 {
  font-size: 1.2vw;
  line-height: 1.3vw;
}
.review h3 span {
  font-weight: 600;
}
.review .client-comment {
  width: 100%;
}
.footer {
  margin-top: 10vh;
  width: 100%;
  height: 31vw;
  background: url(../img/footer.png);
  background-position: center;
  background-size: 100% 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10%;
}
.footer-left,
.footer-right {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.footer__head {
  font-size: 2vw;
  color: #fff;
}
.footer-text {
  font-size: 0.8vw;
  line-height: 1vw;
  margin-top: 10px;
}
.aleksandr {
  width: 80%;
  display: grid;
  margin-top: 25px;
  grid-auto-columns: 1fr;
  grid-template-columns: 0.7fr 1.3fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 2%;
  grid-template-areas:
    "aleksandr__foto aleksandr__name"
    "aleksandr__foto aleksandr__phone"
    "aleksandr__foto icons";
}
.aleksandr__foto {
  grid-area: aleksandr__foto;
  width: 100%;
}
.aleksandr__name {
  grid-area: aleksandr__name;
  font-size: 1.5vw;
  font-weight: 700;
  color: #fff;
  display: flex;
  align-items: end;
}
.aleksandr__phone {
  grid-area: aleksandr__phone;
  display: flex;
  align-items: start;
}
.icons {
  grid-area: icons;
}
.icons img {
  width: 3vw;
}
.footer-right {
  width: 30%;
}
.name,
.phone {
  width: 100%;
  background: transparent;
  border: none;
  border-bottom: 4px solid #fff;
  color: #fff;
  outline: none;
  font-size: 1.3vw;
  margin-top: 1.5vw;
}
.footer__label {
  display: flex;
  margin-top: 20px;
  flex-direction: row-reverse;
  color: #fff;
  width: 100%;
  font-size: 0.8vw;
  line-height: 0.9vw;
}

.checkbox {
  margin-right: 1%;
  margin-top: 1%;
}
.footer__button {
  margin-top: 3vw;
  display: flex;
  align-items: center;
  width: 50%;
  height: 2.5vw;
  border: 1px solid #fff;
  display: block;
}

@media (max-width: 1023px) {
  .header {
    height: auto;
  }
  .wrapper__header {
    width: 95%;
    margin-top: 10px;
    flex-direction: column;
    padding-bottom: 30px;
  }
  .header__logo {
    width: 50%;
  }
  .header__phone {
    order: 3;
  }
  .header__address {
    order: 2;
  }

  .header__address,
  .header__phone {
    font-size: 3.38vw;
    display: flex;
    align-items: center;
    height: 80%;
  }
  .header__address img,
  .header__phone img {
    margin-right: 5px;
    width: 3.38vw;
  }
  .button__header {
    order: 4;
    font-size: 3.3vw;
    width: 50%;
    margin-top: 25px;
    height: 10.63vw;
  }
  .wrapper__header > .button_href {
    border: none;
  }
  .title {
    height: auto;
    background: linear-gradient(45deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%), url(../img/title.webp);
    background-position: center;
    background-attachment: unset;
    background-size: cover;
  }
  .title__wrapper {
    align-items: center;
    width: 100%;
  }
  .title__wrapper:first-child{
    display: none;
  }
  .title__wrapper:last-child{
    display: flex;
  }
  .title__head {
    margin-top: 20px;
    font-size: 8.2vw;
    line-height: 9.9vw;
    text-align: center;
  }
  .title__text {
    text-align: center;
    width: 95%;
    font-size: 4.35vw;
    line-height: 5.31vw;
  }
  .title__calculate {
    text-align: center;
    margin-top: 20px;
    font-size: 3.38vw;
    width: 60%;
    height: 10.87vw;
    margin-bottom: 40px;
  }

  .service__title {
    margin-top: 50px;
    font-size: 8.7vw;
  }
  h2:before,
  h2:after {
    display: none;
  }
  .project__title {
    font-size: 8.7vw;
    line-height: 9.2vw;
    margin-top: 50px;
  }
  .benefits {
    width: 95%;
    flex-direction: column;
  }
  .benefits__block {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .benefits__img {
    width: 12.08vw;
    height: 12.08vw;
  }
  .benefits__head {
    font-size: 4.35vw;
    line-height: 5.31vw;
  }
  .benefits__text {
    margin-top: 5px;
    font-size: 3.38vw;
    line-height: 4.11vw;
    text-align: center;
  }
  .first_lawn {
    display: none;
  }
  .second_lawn {
    display: flex;
  }
  .this_lawn {
    height: auto;
    background: url(../img/lawn__mobile.png);
    background-position: center;
    background-size: 100% 100%;
    flex-direction: column;
  }
  .this__left-column {
    width: 100%;
  }
  .this__head {
    margin-top: 15px;
  }
  .this__head,
  .this__text {
    font-size: 8.21vw;
    line-height: 9.9vw;
    text-align: center;
  }

  .this__calculate {
    height: 10.87vw;
    width: 80%;
    font-size: 1.5vw;
    margin: 30px 0;
    font-size: 3.38vw;
  }
  .this__right-column {
    width: 100%;
    margin-top: 30px;
    text-align: center;
    font-size: 4.35vw;
    line-height: 5.31vw;
  }
  .stages {
    width: 90%;
    margin: 0 auto;
  }
  .stages__title {
    margin-top: 50px;
    font-size: 8.7vw;
    line-height: 10.63vw;
  }
  .stages__block {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
  }
  .stages__img {
    width: 12.08vw;
    height: 12.08vw;
  }
  .stages__head {
    font-size: 4.35vw;
    line-height: 5.31vw;
    text-align: center;
  }
  .stages__text {
    width: 100%;
    font-size: 3.38vw;
    line-height: 4.11vw;
    text-align: center;
    margin-top: 5px;
  }
  .review__title {
    font-size: 8.7vw;
    line-height: 10.63vw;
  }

  .review h3 {
    font-size: 3.38vw;
    line-height: 4.11vw;
  }
  .review h3 span {
    font-size: 4.35vw;
    line-height: 5.31vw;
    font-weight: 600;
  }
  .footer {
    height: auto;
    background: none;
    background-size: 100% 100%;
    flex-direction: column;
    padding: 0;
    justify-content: start;
  }
  .footer-left {
    margin-top: 20px;
    width: 100%;
    padding: 5%;
    justify-content: center;
    align-items: center;
    background: #2A343C;
  }
  .footer__head {
    text-align: center;
    font-size: 5.80vw;
    line-height: 7vw;
  }
  .footer-text {
    text-align: center;
    margin-top: 25px;
    font-size: 3.38vw;
    line-height: 4.11vw;
  }
  .aleksandr {
    width: 80%;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .aleksandr__foto{
    width: 25.12vw;
    height: 25.12vw;
  }
  .aleksandr__name{
    font-size: 5.8vw;
  }
  .aleksandr__phone {
    font-size: 3.38vw;
  }
  .icons {
    display: flex;
    align-items: center;
    margin-top: 25px;
  }
  .icons img {
    width: 8.45vw;
    height: 8.45vw;
  }
  .icons a:nth-child(2) {
    margin-left: 10px;
  }
  .footer-right {
    width: 100%;
    background: url(../img/form_bg.png);
    background-position: center;
    background-size: 100% 100%;
    padding: 10% 5%;
  }
  .name,
  .phone {
    border-bottom: 1px solid #fff;
    font-size: 3vw;
  }
  .footer__label {
    font-size: 2.17vw;
    line-height: 2.66vw;
    margin-top: 10px;
  }
  .footer__button {
    display: block;
    margin: 0 auto;
    margin-top: 8.45vw;
    width: 80%;
    font-size: 3.38vw;
    height: 10.87vw;
  }
}
